<div highlighted class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses salmon-theme" #container *ngIf="courses[0] as course">

  <course-card highlighted #highlightedDirective="hl"
               (toggleHighlight)="onToggleHighlight($event)"
               (courseSelected)="onCourseSelected($event)"
               [course]="course"
               [cardIndex]="1">

    <div class="course-image" #courseImage *ngxUnless="true">
      <img width="300" alt="Angular Logo"
           [src]="course.iconUrl">
    </div>

    <div class="course-description" (dblclick)="highlightedDirective.toggle()">
      {{ course.longDescription }}
    </div>

  </course-card>

</div>



